{% load crispy_forms_tags pdb %}
<div class="form-row">
    <div class="form-group col-6">
        {{ form.client|as_crispy_field }}
    </div>
</div>
<div class="form-row">
    <div class="form-group col-6">
        {{ form.session_date|as_crispy_field }}
    </div>
</div>
<div class="form-row">
    <div class="form-group col-6">
        {{ form.attended|as_crispy_field }}
    </div>
</div>
<div class="form-row">
    <div class="form-group col-6">
        {{ form.absence_reason|as_crispy_field }}
    </div>
</div>
<div class="form-row">
    <div class="form-group col-6">
        {{ form.time_in|as_crispy_field }}
    </div>
</div>
<div class="form-row">
    <div class="form-group col-6">
        {{ form.time_out|as_crispy_field }}
    </div>
</div>