{% load crispy_forms_tags pdb %}
<div class="form-row">
    <div class="form-group col-3">
        {{ forms.probgoals_form.prob_goal_num|as_crispy_field }}
    </div>
</div>
<div class="form-row">

    <div class="form-group col-6">
        {{ forms.probgoals_form.prob_description|as_crispy_field }}
    </div>
</div>

<div class="form-row">
<div class="form-group col-2">
    {{ forms.probgoals_form.goal_description|as_crispy_field }}
</div>
</div>

<div class="form-row">
    <div class="form-group col-6">
        {{ forms.probgoals_form.prob_goal_target|as_crispy_field }}
    </div>

    <div class="form-group col-3">
        {{ forms.probgoals_form.status_date|as_crispy_field }}
    </div>
</div>


<div class="form-row">
    <div class="form-group col-2">
        {{ forms.probgoals_form.prob_goal_status|as_crispy_field }}
    </div>
</div>