{% extends "core/module_base.html" %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}

{% block search %}
{% endblock search %}

{% block card-header %}Intake Module{% endblock %}
{% block bread %}
<li class="breadcrumb-item"><a href="{% url 'intake:start' %}">Intake</a></li>
{% endblock %}
{% block card-title %}Clients{% endblock %}


{% block filter %}
{% render_table table %}
<a href="{% url 'intake:referral-add' %}" class='btn btn-secondary' id='add-referral'>Add Referral</a>

{% endblock filter %}