{% extends "core/module_base.html" %}
{% load crispy_forms_tags %}

{% block card-header %}Intake Module{% endblock card-header %}
{% block bread %}
<li class="breadcrumb-item"><a href="{% url 'intake:start' %}">Intake</a></li>
{% if object.id %}
<li class="breadcrumb-item"><a href="{% url 'intake:referral-detail' object.id %}">Referral</a></li>
{% else %}
<li class="breadcrumb-item"><a href="{% url 'intake:referral-add' %}">Referral</a></li>
{% endif %}
{% endblock bread %}
{% block card-title %}Referral{% endblock card-title %}

{% block help-text %}
{% if object.id %}
Update Referral Status for Client
{% else %}
Start Referral Process for Client
{% endif %}
{% endblock help-text%}


{% block card-body %}

<form method="post">
    {% csrf_token %}
    <div class="form-row">
        <div class="form-group col-3">
            <label for="client-id">ClientID</label>
            {% if object.client %}
            <input id="client-id" class="form-control" type="text" placeholder="{{ object.client.client_id }}" readonly>
            {% else %}
            <input id="client-id" class="form-control" type="text" placeholder="" readonly>
            {% endif %}

        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-3">
            {{ form.client.first_name|as_crispy_field }}
        </div>
        <div class="form-group col-1">
            {{ form.client.middle_initial|as_crispy_field }}
        </div>
        <div class="form-group col-3">
            {{ form.client.last_name|as_crispy_field }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-2">
            {{ form.client.gender|as_crispy_field }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-3">
            {{ form.client.birth_date|as_crispy_field }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-3">
            {{ form.client.ssn|as_crispy_field }}
        </div>
    </div>
    <hr>
    <div class="form-row">
        <div class="form-group col-3">
            {{ form.referral.referrer|as_crispy_field }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-3">
            {{ form.referral.date_received|as_crispy_field }}
        </div>
        <div class="form-group col-3">
            {{ form.referral.date_completed|as_crispy_field }}
        </div>
    </div>
    <input type="submit" id="referral-update" value="Save Referral" class="btn btn-primary">
    {% if object.id %}
    <a href="{% url 'intake:decision' object.id %}" id="decision" class="btn btn-secondary">Evaluate Referral</a>
    {% endif %}
</form>

{% if object.id %}
{% include "intake/note_modal.html" %}
{% endif %}

{% endblock card-body %}