{% extends "core/module_base.html" %}
{% load crispy_forms_tags %}

{% block card-header %}Intake Module{% endblock %}

{% block card-title %}Decision{% endblock %}
{% block help-text %}Make Decisions on Client's Referral{% endblock %}
{% block card-body %}
<form method="post">
    {% csrf_token %}
    <div class="form-row">
        <div class="form-group col-3">
            <label for="client-id">ClientID</label>
            <input id="client-id" class="form-control" type="text" placeholder="{{ object.client.client_id }}" readonly>
            <label for="ref-id">Referral Status</label>
            <input id="ref-id" class="form-control" type="text" placeholder="{{ object.status }}" readonly>
            <label for="ref-id">Referrered By</label>
            <input id="ref-id" class="form-control" type="text" placeholder="{{ object.referrer }}" readonly>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-3">
            {{ form.referral.date_received|as_crispy_field }}
        </div>
        <div class="form-group col-3">
            {{ form.referral.date_completed|as_crispy_field }}
        </div>
    </div>
    <hr>
    <div class="form-row">
        <div class="form-group col-3">
            {{ form.pre_decision.verdict|as_crispy_field }}
        </div>
        <div class="form-group col-4">
            {{ form.pre_decision.made_by|as_crispy_field }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-3">
            {{ form.pre_decision.date_received|as_crispy_field }}
        </div>
        <div class="form-group col-3">
            {{ form.pre_decision.date_completed|as_crispy_field }}
        </div>
    </div>
    <hr>

    <div class="form-row">
        <div class="form-group col-3">
            {{ form.da_decision.verdict|as_crispy_field }}
        </div>
        <div class="form-group col-4">
            {{ form.da_decision.made_by|as_crispy_field }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-3">
            {{ form.da_decision.date_received|as_crispy_field }}
        </div>
        <div class="form-group col-3">
            {{ form.da_decision.date_completed|as_crispy_field }}
        </div>
    </div>
    <hr>
    <div class="form-row">
        <div class="form-group col-3">
            {{ form.dc_decision.verdict|as_crispy_field }}
        </div>
        <div class="form-group col-4">
            {{ form.dc_decision.made_by|as_crispy_field }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-3">
            {{ form.dc_decision.date_received|as_crispy_field }}
        </div>
        <div class="form-group col-3">
            {{ form.dc_decision.date_completed|as_crispy_field }}
        </div>
    </div>
    <input type="submit" id="decision-update" value="Update" class="btn btn-primary">
</form>
{% endblock %}