{% extends "core/module_base.html" %}

{% block card-header %}Intake Module{% endblock card-header %}
{% block bread %}<li class="breadcrumb-item"><a href="{% url 'intake:start' %}">
        Intake</a></li>
{% endblock %}
{% block help-text %}Search ClientID to start Client Intake Process{% endblock %}

{% block filter %}

<form method="get">
    <div class="input-group mb-3">
        {{ filter.form.client_id }}
        <div class="input-group-append">
            <input type="submit" name="filter" class="btn btn-primary">``
        </div>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th scope="col">ClientID</th>
            <th scope="col">First Name </th>
            <th scope="col">Last Name</th>
            <th scope="col">Status</th>
            <th scope="col">Phase</th>
        </tr>
    </thead>
    <tbody>
        {% for obj in filter.qs %}
        <tr>
            <td><a id='client-id' href="{% url 'intake:client-detail' obj.pk %}">{{ obj.client_id }}</a></td>
            <td>{{ obj.first_name }}</td>
            <td>{{ obj.last_name }}</td>
            <td>{{ obj.status }}</td>
            <td>{{ obj.phase }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<!-- <a href="#client-id" class='btn btn-primary'>Client Details</a> -->
{% endblock %}