{% extends "core/module_base.html" %}
{% load crispy_forms_tags %}

{% block card-header %}Intake Module{% endblock %}
{% block bread %}
<li class="breadcrumb-item"><a href="{% url 'intake:start' %}">Intake</a></li>
<li class="breadcrumb-item"><a href="{% url 'intake:client-detail' object.pk %}">Client Info</a></li>
{% endblock %}
{% block card-title %}ClientID: {{ object.client_id }}{% endblock %}
{% block help-text %}Update Client Personal Information{% endblock %}
{% block card-body %}
<form method="post">
    {% csrf_token %}
    <div class="form-row">
        <div class="form-group col-3">
            {{ form.first_name|as_crispy_field }}
        </div>
        <div class="form-group col-1">
            {{ form.middle_initial|as_crispy_field }}
        </div>
        <div class="form-group col-3">
            {{ form.last_name|as_crispy_field }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-2">
            {{ form.gender|as_crispy_field }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-3">
            {{ form.birth_date|as_crispy_field }}
        </div>
    </div>
    <input type="submit" id="client-update" value="Update" class="btn btn-primary">
</form>
{% endblock %}