{% extends "core/module_base.html" %}
{% load crispy_forms_tags %}

{% block form-header %}Court Module{% endblock %}
{% block bread %}<li class="breadcrumb-item"><a href="{% url 'intake:court' %}">Court</a></li>{% endblock %}
{% block help-text %}Use the drop down to filter by Client.{% endblock %}
{% block filter %}



<form action="" method="get" action="{% url 'intake:court-filter' %}">
    <div class="input-group mb-3">
        {{ filter.form.client }}
        <div class="input-group-append">
            <input type="submit" class="btn btn-primary">
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Client</th>
            <th scope="col">Date</th>
            <th scope="col">Event</th>
            <th scope="col">Type</th>
            <th scope="col"> Attendance</th>
        </tr>
    </thead>
    <tbody>
        {% for obj in filter.qs %}
        <tr>
            <td>{{ obj.client.client_id }}</td>
            <td>{{ obj.court_date }}</td>
            <td>{{ obj.event }}</td>
            <td>{{ obj.court_date_type }}</td>
            <td>{{ obj.attendance }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}