{% extends "core/module_base.html" %}
{% load crispy_forms_tags %}

{% block card-header %}Intake Module{% endblock %}

{% block card-title %}Criminal Background{% endblock %}
{% block help-text %}Add Criminal Background to Client Record{% endblock %}
{% block card-body %}
<form method="post">
    {% csrf_token %}
    <div class="form-row">
        <div class="form-group col-3">
            {{ form.client|as_crispy_field }}
        </div>
        <div class="form-group col-3">
            {{ form.arrests|as_crispy_field }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-3">
            {{ form.felonies|as_crispy_field }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-3">
            {{ form.misdemeanors|as_crispy_field }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-3">
            {{ form.firstarrestyear|as_crispy_field }}
        </div>
    </div>
    <input type="submit" id="legal-add" value="Save" class="btn btn-primary">
</form>

{% endblock %}