{% extends "core/home.html" %}
{% load static pdb %}

{% block main-header %}{{ client.full_name }}{% endblock main-header %}
{% block buttons %}
<!-- <div class="btn-group mr-2">
  <button type="button" class="btn btn-sm btn-outline-primary js-create-model" data-url="/intake/client/create">
    <span class="fas fa-plus" aria-hidden="true"></span>
    Add Referral
  </button>
  <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
</div>
<button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
  This week
</button> -->
{% endblock %}

{% block content %}

<div id="model-table">
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
        aria-controls="nav-home" aria-selected="true">Court</a>
      <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
        aria-controls="nav-profile" aria-selected="false">Treatment</a>
      <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab"
        aria-controls="nav-contact" aria-selected="false">Objectives</a>
    </div>
  </nav>

  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
      <p class="pt-5">
        <!-- {# client.pk|pdb #} -->
        <button type="button" class="btn btn-primary js-update-model" data-url="{% url 'court:create' client.id %}">
          <span class="fas fa-plus"></span>
          Add Court Date
        </button>
      </p>
      <table class="table table-striped table-bordered table-hover " id="courtDate">
        <caption>List of Court Dates</caption>
        <thead>
          <tr>
            <!-- <th>Client</th> -->
            <th>Court Date</th>
            <th>Event Type</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>

          {% include 'court/includes/partial_court_list.html' %}

        </tbody>
      </table>
    </div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
      <p class="pt-5">
        <button type="button" class="btn btn-primary js-update-model" data-url="{% url 'treatment:create' client.id %}">
          <span class="fas fa-plus"></span>
          Add Treatment Session
        </button>
      </p>
      <table class="table table-striped table-bordered table-hover" id="treatment">
        <thead>
          <tr>
            <!-- <th>Client</th> -->
            <th>Session Date</th>
            <th>Attended?</th>
            <th>Absence Reason</th>
            <th>Time In</th>
            <th>Time Out</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>

          {% include 'treatment/includes/partial_treatment_list.html' %}

        </tbody>
      </table>
    </div>
    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
      <p class="pt-5">
        <button type="button" class="btn btn-primary js-update-model"
          data-url="{% url 'treatment:objectives_create' client.id %}">
          <span class="fas fa-plus"></span>
          Add Objectives
        </button>
      </p>

      <table class="table table-striped table-bordered table-hover"
        data-url="{% url 'treatment:client_objectives' client.id %}" id="objectives" objective='{{ objective.id }}'
        style="width:100%">
        <thead>
          <tr>
            <th></th>
            <!-- <th>Client</th> -->
            <th>Objective</th>
            <th>Description</th>
            <th>Target</th>
            <!-- <th>Action</th> -->
          </tr>
        </thead>
      </table>

    </div>
  </div>
</div>

{% endblock content %}

{% block extracss %}
<link rel="stylesheet" type="text/css" href="{% static 'core/row-details.css' %}">
{% endblock extracss %}

{% block javascript %}
<script src="{% static 'core/ajaxforms.js' %}"></script>
<script>
  function generateTable(table, data, url) {
    let $thead = $('<thead>').attr({ class: 'thead-dark' });
    let $tr = $('<tr>');

    // header
    table.append($thead);
    $thead.append($tr);
    let $th = $('<th>');
    $tr.append($th);

    let $add_button = $('<button>').attr({ class: 'btn btn-primary js-update-model', 'data-url': url, 'type': 'button' });
    $span = $('<span>').attr({ class: 'fas fa-plus' }).text(' Problem Goal');
    $add_button.append($span);
    $th.append($add_button);

    let dropColumns = ['client', 'objective', 'id'];
    for (let key in data[0]) {
      if (dropColumns.indexOf(key) == -1) {
        let $th = $('<th>').text(key);
        $tr.append($th);

      }
    }

    // body
    $tbody = $('<tbody>');
    table.append($tbody);

    for (element of data) {

      let $tr = $('<tr>');
      let $td = $('<td>');

      let goalUrl = `/treatment/objectives/goal/${element['id']}/update`;
      // buttons
      $button = $('<button>').attr({ class: 'btn btn-warning btn-sm js-update-model', 'data-url': goalUrl });
      $span = $('<span>').attr({ class: 'fas fa-edit' }).text(' Edit');
      $button.append($span);
      $td.append($button)
      $tr.append($td);

      for (let key in element) {
        if (dropColumns.indexOf(key) == -1) {
          let $td = $('<td>').text(element[key]);
          $tr.append($td);
          $tr.appendTo($tbody);
        }
      }
    }
  }

  $(document).ready(function () {
    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
      $.fn.dataTable.tables({ visible: true, api: true }).columns.adjust();
    });

    $('#courtDate').DataTable({
      columns: [
        {
          // "data": "office", // can be null or undefined
          "defaultContent": ""
        },
        {
          // "data": "office", // can be null or undefined
          "defaultContent": ""
        },
        {
          // "data": "office", // can be null or undefined
          "defaultContent": ""
        }]
    });

    $('#treatment').DataTable({
      columns: [
        // {
        //   "defaultContent": ""
        // },
        {
          "defaultContent": ""
        },
        {
          "defaultContent": ""
        },
        {
          "defaultContent": ""
        },
        {
          "defaultContent": ""
        },
        {
          "defaultContent": ""
        },
        {
          "defaultContent": ""
        },
      ]
    });

    // Apply a search to the second table for the demo
    // $('#treatment').DataTable().search('New York').draw();

    var tbl = $('#objectives');
    var table = tbl.DataTable({
      ajax: {
        url: tbl.attr('data-url'),
        dataSrc: 'results'
      },
      columns: [
        {
          "className": 'details-control',
          "orderable": false,
          "data": null,
          "defaultContent": ''
        },
        {
          data: 'obj_num',
          "defaultContent": ""
        },
        {
          data: 'description',
          "defaultContent": ""
        },
        {
          data: 'obj_target',
          "defaultContent": ""
        },
      ],
      order: [[1, 'asc']]
    });
    console.log(`ajax: ${table.context[0]['ajax']['url']}`);
    $('#objectives tbody').on('click', 'td.details-control', function () {

      let $tr = $(this).closest('tr');
      var row = table.row($tr);

      if (row.child.isShown()) {
        row.child.hide();
        $tr.removeClass('shown');
      }

      else {
        let data = row.data()

        let $child_table = $('<table/>').attr({ class: 'compact table table-striped table-bordered' });

        url = `/treatment/objectives/${data.pk}/goal/create`
        // url = tbl.attr('data-url')
        //function
        // if (data.length > 0) {
        //   let objectiveUrl = `/treatment/objectives/${data[0]['objective']}'/goal/create`;
        // } else {
        //   let objectiveUrl = `/treatment/objectives/${objective}'/goal/create`;
        // }
        let goals = data.goals;
        generateTable($child_table, goals, url);
        row.child($child_table).show();
        $tr.addClass('shown');
      }
    });

  });
</script>
{% endblock javascript %}