{% extends "core/home.html" %}
{% load static %}

{% block main-header %}{{ client.full_name }}{% endblock main-header %}
{% block buttons %}
<!-- <div class="btn-group mr-2">
  <button type="button" class="btn btn-sm btn-outline-primary js-create-model" data-url="/intake/client/create">
    <span class="fas fa-plus" aria-hidden="true"></span>
    Add Referral
  </button>
  <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
</div>
<button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
  This week
</button> -->
{% endblock %}

{% block content %}

<div class="card-columns">
  <div class="card" id="model-table">
    <div class="card-header">
      Referral
    </div>
    <div class="card-body">
      <div class="row mt-4">
        <div class="col-9">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Referrer: {{client.referral.referrer}}</li>
            <li class="list-group-item">Status: {{client.referral.status}}</li>
          </ul>
        </div>
        <div class="col-3">
          <div class="btn-group float-right" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-primary btn-sm dropdown-toggle"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Actions
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
              <button type="button" class="dropdown-item btn btn-sm js-update-model"
                data-url="{% url 'intake:update' client.id %}">
                <span class="fas fa-edit"></span> Edit
              </button>
              <button type="button" class="dropdown-item btn btn-sm js-create-model"
                data-url="{% url 'intake:note' client.id %}"><span class="far fa-sticky-note"></span> Note</button>
              {% if client.status != 'Accepted' %}
              <button type="button" class="dropdown-item btn btn-sm js-eval-model"
                data-url="{% url 'intake:eval' client.referral.id %}">
                <span class="fas fa-user-check"></span> Evaluate
              </button>
              {% endif %}
            </div>
          </div>
        </div>

        </li>
      </div>

    </div>
  </div>

  <div class="card" id="model-table">
    <div class="card-header">
      Court Dates
    </div>
    <div class="card-body">
      <h5 class="card-title"></h5>
      {% for court_date in client.courtdates_set.all %}
      <div class="row mt-4">
        <div class="col-9">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Court Date: {{court_date.court_date}}</li>
            <li class="list-group-item">Event: {{court_date.event}}</li>
            <li class="list-group-item">Phase: {{court_date.phase}}</li>
          </ul>
        </div>
        <div class="col-3">
          <div class="btn-group float-right" role="group">
            <button id="btnGroupDrop3" type="button" class="btn btn-primary btn-sm dropdown-toggle"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Actions
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop3">
              <button type="button" class="dropdown-item btn btn-sm js-update-model"
                data-url="{% url 'court:update' court_date.id %}">
                <span class="fas fa-edit"></span> Edit
              </button>
              <button type="button" class="dropdown-item btn btn-sm js-update-model"
                data-url="{% url 'court:note' court_date.client.id %}">
                <span class="far fa-sticky-note"></span> Note
              </button>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      </ul>
      <button type="button" class="btn btn-primary js-create-model float-right mt-4 mb-4"
        data-url="{% url 'court:create' %}">
        <span class="fas fa-plus"></span>
        Add Court Date
      </button>
    </div>

  </div>

  <div class="card" id="model">
    <div class="card-header">
      Objectives
    </div>
    <div class="card-body">
      <div class="row mt-4">
        <div class="col-9">
          {% for objective in client.objectives_set.all %}
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Num: {{objective.obj_num}}</li>
            <li class="list-group-item">Target Date: {{objective.obj_target}}</li>
            <li class="list-group-item">Description: {{objective.description}}</li>
          </ul>
        </div>
        <div class="col-3">
          <div class="btn-group-vertical float-right">
            <button type="button" class="btn btn-outline-primary btn-md js-update-model"
              data-url="{% url 'treatment:objectives_update' objective.pk %}">
              <span class="fas fa-edit"></span> Edit
            </button>
            <button type="button" class="btn btn-outline-primary btn-md js-update-model"
              data-url="{% url 'treatment:note' objective.client.pk %}">
              <span class="far fa-sticky-note"></span> Note
            </button>
          </div>

        </div>
        {% endfor %}
      </div>
      <button type="button" class="btn btn-primary js-create-model float-right mt-4 mb-4" data-url="{% url 'treatment:objectives_create' %}">
        <span class="fas fa-plus"></span>
        Add Objectives
    </button>

    </div>
  </div>


  <div class="card" id="model-table">
    <div class="card-header">
      Treatment
    </div>
    <div class="card-body">
      <ul class="list-group list-group-flush">
        {% for treatment in client.treatment_set.all %}
        {% if treatment %}
        <li class="list-group-item">Num: {{treatment.obj_num}}</li>
        <li class="list-group-item">Target Date: {{treatment.obj_target}}</li>
        <li class="list-group-item">Description: {{treatment.description}}</li>
        {% endif %}
        {% endfor %}
      </ul>
      <button type="button" class="btn btn-primary btn-md js-create-model float-right mt-4 mb-4"
        data-url="{% url 'treatment:create' %}">
        <span class="fas fa-plus"></span>
        Add Tx Session
      </button>
    </div>
  </div>

</div>



<div class="modal fade" id="modal-model">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
  {% endblock content %}

  {% block javascript %}
  <script src="{% static 'core/ajaxforms.js' %}"></script>
  {% endblock javascript %}