{% extends "core/home.html" %}
{% load static %}

<!-- {% block table-header %}Clients{% endblock table-header %} -->

{% block buttons %}
<div class="btn-group mr-2">
    <button type="button" class="btn btn-sm btn-outline-primary js-create-model" data-url="/intake/client/create">
        <span class="fas fa-plus" aria-hidden="true"></span>
        Add Referral
    </button>
    <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
</div>
<button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
    This week
</button>
{% endblock %}

{% block table %}
<thead>
    <tr>
        <th>Full Name</th>
        <th>Status</th>
        <!-- <th>Actions</th> -->
    </tr>
</thead>
<tbody>
    {% include 'intake/includes/partial_client_list.html' %}
</tbody>
</table> 
{% endblock table %}


{% block javascript %}
<script>
    $(document).ready(function () {
        $('#model-table').DataTable({
            select: true,
            "dom": 'l<"toolbar">frtip',
        });
    });
</script>
<script src="{% static 'core/ajaxforms.js' %}"></script>
{% endblock javascript %}