{% extends "core/client.html" %}
{% load crispy_forms_tags %}

{% block form-header %}Intake Module{% endblock %}< {% block form %} <label for="client-id">Client ID</label>
    <input class="form-control col-3 mb-3" type="text" id="client-id" placeholder="{{ client_form.instance.client_id }}"
        readonly>
    <label for="client-status">Status</label>
    <input class="form-control col-3 mb-3" type="text" id="client-status"
        placeholder="{{ client_form.instance.status }}" readonly>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="add-tab" data-toggle="tab" href="#add" role="tab" aria-controls="add"
                aria-selected="true">Contact Info</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="referral-tab" data-toggle="tab" href="#referral" role="tab" aria-controls="referral"
                aria-selected="false">Referral</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="note-tab" data-toggle="tab" href="#note" role="tab" aria-controls="note"
                aria-selected="false">Notes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="decision-tab" data-toggle="tab" href="#decision" role="tab" aria-controls="decision"
                aria-selected="false">Decision</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="add" role="tabpanel" aria-labelledby="add-tab">
            <form method="POST">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-3">
                        {{ client_form.first_name|as_crispy_field }}
                    </div>
                    <!-- TODO: make field collapse with smaller screen sizes -->
                    <div class="form-group col-1">
                        {{ client_form.middle_initial|as_crispy_field }}
                    </div>
                    <div class="form-group col-3">
                        {{ client_form.last_name|as_crispy_field }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-2">
                        {{ client_form.gender|as_crispy_field }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-3">
                        {{ client_form.birth_date|as_crispy_field }}
                    </div>

                </div>
                <button type="submit" class="btn btn-primary" name="{{ client_form.prefix }}">Save</button>
            </form>
        </div>
        <div class="tab-pane" id="referral" role="tabpanel" aria-labelledby="referral-tab">
            <form method="POST">
                {% csrf_token %}

                <div class="form-row">
                    <div class="form-group col-4">
                   
                    </div>

                </div>
                <div class="form-row">
                    <div class="form-group col-4">
                        {{ referral_form.referrer|as_crispy_field }}
                    </div>
                </div>

                <button type="submit" class="btn btn-primary" name="{{ referral_form.prefix }}">Save</button>
            </form>
        </div>
        <div class="tab-pane" id="note" role="tabpanel" aria-labelledby="note-tab">
            <form method="POST">
                {% csrf_token %}

                <div class="form-row">
                    <div class="form-group col-4">
                        {{ note_form.client|as_crispy_field }}
                    </div>
                    <div class="form-group col-4">
                        {{ note_form.created_date|as_crispy_field }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        {{ note_form.text|as_crispy_field }}
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" name="{{ note_form.prefix }}">Save</button>
                <a href="{% url 'intake:notes' %}" class="btn btn-primary">View all Notes</a>
            </form>
        </div>
        <div class="tab-pane" id="decision" role="tabpanel" aria-labelledby="decision-tab">
            <form method="POST">
                {% csrf_token %}

                <div class="form-row">
                    <div class="form-group col-4">
                        {{ decision_form.date_received|as_crispy_field }}
                    </div>
                    <div class="form-group col-4">
                        {{ decision_form.date_completed|as_crispy_field }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        {{ decision_form.referral|as_crispy_field }}
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" name="{{ decision_form.prefix }}">Save</button>
            </form>
        </div>
    </div>


    {% endblock %}