{% extends "core/module_base.html" %}
{% load crispy_forms_tags %}

{% block card-header %}Intake Module{% endblock %}

{% block card-body %}

<form method="POST">
    {% csrf_token %}
    <div class="form-row">
        <div class="form-group col-3">
            {{ client_form.first_name|as_crispy_field }}
        </div>
        <div class="form-group col-2">
            {{ client_form.middle_initial|as_crispy_field }}
        </div>
        <div class="form-group col-3">
            {{ client_form.last_name|as_crispy_field }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-2">
            {{ client_form.gender|as_crispy_field }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-3">
            {{ client_form.birth_date|as_crispy_field }}
        </div>
    </div>
    <button type="submit" class="btn btn-primary mb-5" name="{{ client_form.prefix }}">Save Client Info</button>
</form>
<hr class="pb-1">

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="referral-tab" data-toggle="tab" href="#referral" role="tab"
            aria-controls="referral" aria-selected="false">Referral</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="note-tab" data-toggle="tab" href="#note" role="tab" aria-controls="note"
            aria-selected="false">Notes</a>
    </li>
</ul>

<div class="tab-content">

    <div class="tab-pane active" id="referral" role="tabpanel" aria-labelledby="referral-tab">
        <form method="POST">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-4">
                    {{ referral_form.provider|as_crispy_field }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-4">
                    {{ referral_form.referrer|as_crispy_field }}
                </div>
            </div>
            <button type="submit" class="btn btn-primary" name="{{ referral_form.prefix }}">Save Referral</button>
        </form>
        <hr class="my-4 pb-1">
        <form method="POST">
            {% csrf_token %}

            <div class="form-row">
                <div class="form-group col-3">
                    {{ decision_form.date_received|as_crispy_field }}
                </div>
                <div class="form-group col-3">
                    {{ decision_form.date_completed|as_crispy_field }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-3">
                    {{ decision_form.verdict|as_crispy_field }}
                </div>
            </div>
            <button type="submit" class="btn btn-primary" name="{{ decision_form.prefix }}">Save Decision</button>
        </form>
    </div>

    <div class="tab-pane" id="note" role="tabpanel" aria-labelledby="note-tab">
        <form method="POST">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col">
                    {{ note_form.text|as_crispy_field }}
                </div>
            </div>
            <button type="submit" class="btn btn-primary" name="{{ note_form.prefix }}">Save</button>
            <a href="{% url 'intake:notes' %}" class="btn btn-primary">View All Notes</a>
        </form>
    </div>
</div>


{% endblock %}