{% extends "cases/base.html" %}

{% block content %}

<div class="card-columns">
    <div>
        <div class="card text-center">
            <h5 class="card-header bg-dark text-white"><i class="fas fa-user"></i> Admin</h5>
            <div class="card-body">
                <!-- TODO: Say good morning based off meeting - use context -->
                <h5 class="card-title">{{ user.profile.get_user_role_display }}</h5>
                <ul class="list-group list-group-flush pb-3">
                    <li class="list-group-item">{{ user.get_full_name }}</li>
                </ul>
            </div>
        </div>
    </div>
    <div>
        <div class="card text-center ">
            <h5 class="card-header bg-dark text-white"><i class="fas fa-address-card"></i> Referrals</h5>
            <div class="card-body ">
                <h5 class="card-title"> Title</h5>
                <ul class="list-group list-group-flush pb-3">
                </ul>
                <a href="{% url 'referrals-all' %}" class="btn btn-info"> View All Referrals</a>
            </div>
        </div>
    </div>
    <div>
        <div class="card text-center ">
            <h5 class="card-header bg-dark text-white"><i class="fas fa-user-graduate"></i> Client</h5>
            <div class="card-body ">
                <h5 class="card-title"> Title </h5>
                <ul class="list-group list-group-flush pb-3">
                </ul>
            </div>
        </div>
    </div>
    <div>
        <div class="card text-center">
            <h5 class="card-header bg-dark text-white"><i class="fas fa-notes-medical"></i> Treatment</h5>
            <div class="card-body ">
                <h5 class="card-title"> Title </h5>
                <ul class="list-group list-group-flush pb-3">
                </ul>
            </div>
        </div>
    </div>

    <div>
        <div class="card text-center ">
            <h5 class="card-header bg-dark text-white"><i class="fas fa-gavel"></i> Court</h5>
            <div class="card-body ">
                <h5 class="card-title"> Title </h5>
                <ul class="list-group list-group-flush pb-3">
                </ul>

            </div>
        </div>
    </div>


</div>



{% endblock %}