{% load crispy_forms_tags pdb %}

<div class="form-row">
    <div class="form-group col-3">
        {{ client_form.first_name|as_crispy_field }}
    </div>
    <div class="form-group col-2">
        {{ client_form.middle_initial|as_crispy_field }}
    </div>
    <div class="form-group col-3">
        {{ client_form.last_name|as_crispy_field }}
    </div>
</div>
<div class="form-row">
    <div class="form-group col-6">
        {{ client_form.ssn|as_crispy_field }}
    </div>
    <div class="form-group col-4">
        {{ client_form.gender|as_crispy_field }}
    </div>
</div>

<div class="form-row">
    <div class="form-group col-4">
        {{ referral_form.referrer|as_crispy_field }}
    </div>
    <div class="form-group col-4">
        {{ referral_form.date_received|as_crispy_field }}
    </div>
</div>

