{% for phase in phases %}
<tr>
    <td>{{ phase.client}}</td>
    <td>{{ phase.phase }}</td>
    <td>{{ phase.start_date }}</td>
    <td>{{ phase.complete_date }}</td>
    <td>{{ phase.total_days }}</td>
    <td>{{ phase.complete }}</td>
    <td>
        <button type="button"
                class="btn btn-warning btn-sm js-update-model"
                data-url="{% url 'court:phase-update' phase.id %}">
          <span class="fas fa-edit"></span> Edit
        </button>
</tr>
{% empty %}
<tr>
    <td colspan="7" class="text-center bg-warning">No Phases</td>
</tr>
{% endfor %}