{% extends "core/base.html" %}

{% block main-header %}
<h1 class="display-4 text-center">Drug Court Modules</h1>
<p class="lead text-center"> Select a module to start.</p>
<hr class="my-4 pb-5">
{% endblock main-header %}

{% block main %}
<div class="card-deck">
    <div class="card text-center ">
        <h5 class="card-header bg-dark text-white"><i class="fas fa-gavel"></i> Court</h5>
        <div class="card-body ">
            <p class="card-title lead"> Track Court Attendance and Payments </p>
            <ul class="list-group list-group-flush pb-3">
                <a href="{% url 'intake:court' %}" class="list-group-item list-group-item-action">Add</a>
                <a href="{% url 'intake:dates' %}" class="list-group-item list-group-item-action"> Court Dates</a>
                <a href="{% url 'intake:court-filter' %}" class="list-group-item list-group-item-action"> Search</a>
            </ul>
        </div>
    </div>
    <div class="card text-center">
        <h5 class="card-header bg-dark text-white"><i class="fas fa-notes-medical"></i> Treatment</h5>
        <div class="card-body ">
            <p class="card-text lead"> Track Treatment Progress </p>
            <ul class="list-group list-group-flush pb-3">
                <li class="list-group-item"></li>
            </ul>
        </div>
    </div>
    <div class="card text-center ">
        <h5 class="card-header bg-dark text-white"><i class="fas fa-user-graduate"></i> Case Management</h5>
        <div class="card-body ">
            <p class="card-title lead"> Track Program Status </p>
            <ul class="list-group list-group-flush pb-3">
                <a href="{% url 'intake:clients' %}" class="list-group-item list-group-item-action">Clients</a>
            </ul>
        </div>
    </div>
</div>
<div class="card-deck">
    <div class="card text-center ">
        <h5 class="card-header bg-dark text-white"><i class="fas fa-address-card"></i> Intake</h5>
        <div class="card-body ">
            <p class="card-title lead"> Track Intake Status </p>
            <ul class="list-group list-group-flush pb-3">
                <a href="{% url 'intake:new' %}" class="list-group-item list-group-item-action"
                    id="id_intake_add">Start</a>
                <a href="{% url 'intake:new' %}" class="list-group-item list-group-item-action"
                    id="id_intake_add">Clients</a>
                <a href="{% url 'intake:note-add' %}" class="list-group-item list-group-item-action">Notes</a>
                <a href="{% url 'intake:legal' %}" class="list-group-item list-group-item-action">Crimes</a>
                <a href="{% url 'intake:referral' %}" class="list-group-item list-group-item-action">Referrals</a>
                <a href="{% url 'intake:decision' %}" class="list-group-item list-group-item-action">Decsions</a>
            </ul>
        </div>
    </div>
    <div class="card text-center">
        <h5 class="card-header bg-dark text-white"><i class="fas fa-business-time"></i> Reporting</h5>
        <div class="card-body ">
            <p class="card-title lead"> Generate Reports </p>
            <ul class="list-group list-group-flush pb-3">
                <li class="list-group-item"></li>
            </ul>
        </div>
    </div>
    <div class="card text-center">
        <h5 class="card-header bg-dark text-white"><i class="fas fa-user"></i> Admin</h5>
        <div class="card-body">
            <p class="card-title lead">{{ user.profile.get_user_role_display }} Setup</p>
            <ul class="list-group list-group-flush pb-3">
                <li class="list-group-item"></li>
            </ul>
        </div>
    </div>
</div>
{% endblock main %}