{% extends "core/base.html" %}
{% load static %}


{% block main %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div
    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1>{% block main-header %}Dashboard{% endblock main-header %}</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        {% block buttons %}
        {% endblock buttons %}
    </div>
    </div>
    
    {% block content %}
    <div class="table-responsive">
        <table class="table table-striped table-sm table-bordered table-hover" id="model-table">
            {% block table %}
            <thead>
                <tr>
                    <th>Full Name</th>
                    <th>Status</th>
                    <!-- <th>Actions</th> -->
                </tr>
            </thead>
            <tbody>
                {% include 'intake/includes/partial_client_home.html' %}
            </tbody>
        </table>
        {% endblock table %}
        </table>
        {% endblock content %}
    </div>
</main>
{% endblock main %}

{% block modal %}
<div class="modal fade" id="modal-model">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
    {% endblock modal %}

    {% block extracss %}
    {% endblock extracss %}
    {% block javascript %}
    <script>
        $(document).ready(function () {
            $('#model-table').DataTable({
                select: true,
            });
        });
    </script>
    {% endblock javascript%}