{% extends 'core/base.html' %}
{% block title %} Log In {% endblock %}
{% block main %}
{% load crispy_forms_tags %}
    <div class="content-section">
        <hr>
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group col-4">
                <legend class="border-bottom mb-4">Log In</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-primary" type="submit" id='login'>Login</button>
                <small class="text-muted ml-2">
                    <a href="#">Forgot Password?</a>
                </small>
            </div>
        </form>
    </div>
{% endblock %}
