{% extends "core/base.html" %}
{% block main %}

<div class="card">
    <div class="card-header bg-dark text-white text-center rounded-top mb-3">
        <h4>{% block card-header %}{% endblock %}</h4>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'core:home' %}">Dashboard</a></li>
                {% block bread %}{% endblock %}
            </ol>
        </nav>
    </div>
    <p class="card-title display-4 text-center lead">{% block card-title %}{% endblock %}</p>
    <div class="card-body rounded">
        <p class="card-text text-center lead">{% block help-text %}{% endblock %}</p>
        <hr class="pb-1">

    
        {% block filter %}{% endblock filter %}
        {% block notes %}{% endblock notes %}
        {% block card-body %}{% endblock card-body%}
    </div>
</div>

</div>
<script>
    $(document).ready(function () {
        $('.toast').toast('show');
    });
</script>
{% endblock %}