{% extends "core/home.html" %}
{% load static %}
{% block main-header %}Objectives{% endblock main-header %}
{% block content %}
<p>
    <button type="button" class="btn btn-primary js-create-model" data-url="{% url 'treatment:objectives_create' %}">
        <span class="fas fa-plus"></span>
        Add Objectives
    </button>
</p>

<table class="table table-striped table-bordered table-hover" data-url="{% url 'objectives-list' %}" , id="model-table">
    <thead>
        <tr>
            <th></th>
            <!-- <th>Client</th> -->
            <th>Objective</th>
            <th>Description</th>
            <th>Target</th>
            <!-- <th>Action</th> -->
            <!--             
            <th>Closed</th>
            <th>Met</th>
            <th>Met Date</th>
            <th>Treatment Rating</th>
            <th>Client Rating</th>
             -->
        </tr>
    </thead>
    <!-- <tbody>
    </tbody> -->
</table>

{% endblock content %}





    {% block extracss %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/row-details.css' %}">
    {% endblock extracss %}

    {% block javascript %}

    <script>

        function generateTable(table, data) {
            let $thead = $('<thead>').attr({ class: 'thead-dark' });
            let $tr = $('<tr>');
            let dropColumns = ['client', 'objective'];

            // header
            table.append($thead);
            $thead.append($tr);
            let $th = $('<th>');
            $tr.append($th);

            let objectiveUrl = '/treatment/objectives/' + data[0]['objective'] + '/goal/create';

            let $add_button = $('<button>').attr({ class: 'btn btn-primary js-update-model', 'data-url': objectiveUrl, 'type': 'button' });
            $span = $('<span>').attr({ class: 'fas fa-plus' }).text(' Problem Goal');
            $add_button.append($span);

            $th.append($add_button);

            for (let key in data[0]) {
                if (dropColumns.indexOf(key) == -1) {
                    let $th = $('<th>').text(key);
                    $tr.append($th);

                }
            }

            // body
            $tbody = $('<tbody>');
            table.append($tbody);

            for (element of data) {

                let $tr = $('<tr>');
                let $td = $('<td>');

                let goalUrl = '/treatment/objectives/goal/' + data[0]['id'] + '/update';
                // buttons
                $button = $('<button>').attr({ class: 'btn btn-warning btn-sm js-update-model', 'data-url': goalUrl });
                $span = $('<span>').attr({ class: 'fas fa-edit' }).text(' Edit');
                $button.append($span);
                $td.append($button)
                $tr.append($td);

                for (let key in element) {
                    if (dropColumns.indexOf(key) == -1) {
                        let $td = $('<td>').text(element[key]);
                        $tr.append($td);
                        $tr.appendTo($tbody);
                    }
                }
            }

        }

        $(document).ready(function () {
            var tbl = $('#model-table');
            var table = tbl.DataTable({
                "processing": true,
                "serverSide": true,
                ajax: {
                    url: tbl.attr('data-url'),
                    dataSrc: 'results'
                },
                columns: [
                    {
                        "className": 'details-control',
                        "orderable": false,
                        "data": null,
                        "defaultContent": ''
                    },
                    // { data: 'client' },
                    { data: 'obj_num' },
                    { data: 'description' },
                    { data: 'obj_target' },
                ],
                order: [[1, 'asc']]
            });

            $('#model-table tbody').on('click', 'td.details-control', function () {

                let tr = $(this).closest('tr');
                var row = table.row(tr);

                if (row.child.isShown()) {
                    row.child.hide();
                    tr.removeClass('shown');
                }

                else {
                    let goals = row.data().goals;

                    let $child_table = $('<table/>').attr({ class: 'compact table table-striped table-bordered', id: 'model-table' });


                    generateTable($child_table, goals);
                    row.child($child_table).show();
                    tr.addClass('shown');
                }
            });
        });

    </script>
    <script src="{% static 'core/ajaxforms.js' %}"></script>
    {% endblock javascript %}