{% extends "core/module_base.html" %}
{% load crispy_forms_tags %}

{% block card-header %}Treatment Module{% endblock %}
{% block bread %}
<li class="breadcrumb-item active"><a href="">Tx Sessions</a></li>
{% endblock %}
{% block card-title %}Treatment Sessions{% endblock %}
{% block help-text %}Schedule Treatment Sessions{% endblock %}
{% block card-body %}

{% if object.id %}
{% include "scribe/note_modal.html" %}
{% endif %}

<form method="POST">
    {% csrf_token %}

    <div class="form-row">
        <div class="form-group col-3">
            {{ form.client|as_crispy_field }}
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-3">
            {{ form.session_date|as_crispy_field }}
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-4">
            {{ form.attended|as_crispy_field }}
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-2">
            {{ form.absence_reason|as_crispy_field }}
        </div>
    </div>

    <div class="form-row">

        <div class="form-group col-2">
            {{ form.time_in|as_crispy_field }}
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-2">
            {{ form.time_out|as_crispy_field }}
        </div>
    </div>

    <button type="submit" class="btn btn-primary mb-5"">Save</button>
</form>
    {% endblock %}